/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(355, 70%, 54%);
  --first-color-alt: hsl(355, 66%, 50%);
  --title-color: hsl(355, 4%, 15%);
  --text-color: hsl(355, 4%, 35%);
  --text-color-light: hsl(355, 4%, 55%);
  --body-color: #fff;
  --container-color: #fff;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;

  --biggest-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}
/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s; /*For animation dark mode*/
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section-title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2-5);
  text-align: center;
}

/* THEME */
.nav-btns{
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.change-theme{
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}

/* DARKMODE VARIABLE */
body.dark-theme {
  --title-color: hsl(355, 4%, 95%);
  --text-color: hsl(355, 4%, 75%);
  --body-color: hsl(355, 20%, 12%);
  --container-color: hsl(355, 16%, 16%);
}
/* VARIABLE CHANGE IN DARK MODE */
.dark-theme .scroll-header,
.dark-theme .nav-menu {
  box-shadow: 0 2px 4px hsla(0, 0%, 4%, .3);
}

.dark-theme .message-container {
  background-color: var(--container-color);
}

.dark-theme .message-input {
  background-color: var(--body-color);
}

.dark-theme .message-button {
  background-color: var(--first-color);
}

.dark-theme .message-button:hover {
  background-color: var(--first-color-alt);
}

.dark-theme::-webkit-scrollbar {
  background: hsl(355, 8%, 30%);
}

/* HEADER  */
.header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: .4s;
}

/* NAV */
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo, .nav-close, .nav-toggle{
  color: var(--title-color);
}
.nav-logo{
  display: flex;
  align-items: center;
  column-gap: .25rem;
  font-weight: var(--font-medium);
}
.nav-logo img{
  width: 1.5rem;
}
.nav-toggle{
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}
@media screen and (max-width: 767px){
  .nav-menu{
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
    padding: 4rem 0;
    border-radius: 0 0 1.5rem 1.5rem;
    box-shadow: 0 1px 4px hsla(0, 4%, 15%, .1);
    transition: .4s;
  }
}
.nav-img{
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-15deg);
}
.nav-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}
.nav-close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
}
.nav-link{
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: .3s;
}
.nav-link:hover{
  color: var(--first-color);
}
/* SHOW NAV */
.show-menu{
  top: 0;
}
/* END OF NAV */

/* HOME */
.home-container{
  padding-top: 1.5rem;
  row-gap: 1.5rem;
}
.home-img{
  width: 320px;
  justify-self: center;
}
.home-data{
  text-align: center;
}
.home-title{
  font-size: var(--biggest-font-size);
  line-height: 140%;
  margin-bottom: var(--mb-0-5);
}
.home-description{
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-2-5);
  padding: 0 2rem;
}
/* END OF HOME */

/* BUTTON */
.button{
  background-color: var(--first-color);
  color: var(--body-color);
  padding: 1.15rem 2.75rem;
  display: inline-block;
  border-radius: 3rem;
  transition: .3s;
  font-weight: var(--font-medium);
}
.button:hover{
  background-color: var(--first-color-alt);
}

/* GIVING */
.giving-container{
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 1.5rem;
}
.giving-content{
  text-align: center;
}
.giving-img{
  width: 100px;
  transition: 0.3s;
}
.giving-title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-25);
}
.giving-description{
  font-size: var(--small-font-size);
}
.giving-img:hover{
  transform: translateY(-.25rem);
}

/* ScrollHeader */
.scroll-header{
  box-shadow: 0 1px 4px hsla(0, 4%, 15%, .1);
}

/* Celebrate */
.celebrate-container{
  row-gap: 1rem;
}
.celebrate-data{
  text-align: center;
}
.celebrate-title{
  margin-bottom: var(--mb-1-5);
}
.celebrate-description{
  margin-bottom: var(--mb-2-5);
}
.celebrate-img{
  width: 200px;
  justify-self: center;
}
/* GIFT */
.gift-container{
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.gift-card{
  display: grid;
  position: relative;
  background-color: var(--container-color);
  box-shadow: 0 4px 16px hsla(355, 25%, 15%, .1);
  padding: 1.5rem 1rem 1rem;
  border-radius: .75rem;
}
.gift-img{
  width: 100px;
  justify-self: center;
  margin-bottom: var(--mb-1-5);
  transition: .3s;
}
.gift-price{
  font-size: var(--h3-font-size);
}
.gift-title{
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}
.gift-icon{
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 1.3rem;
  color: var(--first-color);
}
.gift-card:hover .gift-img{
  transform: translateY(-.25rem);
}
/* NEW */
.new-card{
  position: relative;
  width: 230px;
  background-color: var(--container-color);
  box-shadow: 0 4px 16px hsla(355, 25%, 15%, .1);
  padding: 1rem 1rem 1.5rem;
  border-radius: .75rem;
  text-align: center;
  margin-bottom: 4rem;
  overflow: hidden;
}
.new-overlay{
  width: 300px;
  height: 270px;
  background-color: var(--first-color);
  border-radius: 50%;
  position: absolute;
  top: -5rem;
  left: -.65rem;
  z-index: 0;
}
.new-img{
  position: relative;
  width: 150px;
  margin-bottom: var(--mb-2);
  transition: .3s;
}
.new-img:hover{
  transform: translateY(-.5rem);
}
.new-price{
  font-size: var(--h2-font-size);
}
.new-title{
  font-weight: var(--font-medium);
}
.new-button{
  display: flex;
  padding: .5rem;
  border-radius: .25rem .25rem .75rem .25rem;
  position: absolute;
  right: 0;
  bottom: 0;
}
.new-icon{
  font-size: 1.25rem;
}
/*Class Swiper*/
.swiper-pagination-bullet {
  background-color: var(--text-color);
}

.swiper-pagination-bullet-active {
  background-color: var(--first-color);
}

/* Message */
.message-container{
  row-gap: 3rem;
  background-color: var(--first-color);
  border-radius: 1.5rem;
  padding: 2.5rem 1.5rem 2.5rem;
}
.message-form{
  text-align: center;
}
.message-title{
  color: #fff;
  margin-bottom: var(--mb-1);
}
.message-input{
  width: 100%;
  background: #fff;
  color: var(--text-color);
  padding: 1rem 1.5rem;
  border-radius: 3rem;
  border: none;
  outline: none;
  margin-bottom: var(--mb-1);
}
.message-button{
  background-color: var(--title-color);
  width: 100%;
}
.message-button:hover{
  background-color: var(--title-color);
}
.message-img{
  width: 200px;
  justify-self: center;
  transform: rotate(-15deg);
}
/*=============== FOOTER ===============*/
.footer{
  overflow: hidden;
}
.footer-container{
  position: relative;
  row-gap: 2rem;
}
.footer-logo{
  display: flex;
  align-items: center;
  column-gap: .25rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.footer-logo img{
  width: 1.5rem;
}
.footer-description{
  font-size: var(--small-font-size);
}
.footer-logo,.footer-title{
  margin-bottom: var(--mb-1);
}
.footer-title{
  font-weight: var(--h3-font-size);
}
.footer-links, .footer-availables{
  display: flex;
  flex-direction: column;
  row-gap: .75rem;
}
.footer-link{
  color: var(--text-color);
  transition: .3s;
}
.footer-link:hover{
  color: var(--title-color);
}
.footer-aviable-img{
  width: 100px;
  cursor: pointer;
}
.footer-copy{
  display: block;
  margin: 3rem 0 1rem 0;
  color: var(--text-color);
  text-align: center;
  font-size: var(--small-font-size);
}
.footer-img-1,.footer-img-2{
  position: absolute;
  width: 100px;
}
.footer-img-1{
  top: 25%;
  right: 2rem;
}
.footer-img-2{
  top: 75%;
  right: -4rem;
}
/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .6rem;
  background: hsl(355, 8%, 44%);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: hsl(355, 32%, 17%);
  border-radius: 1rem;
}

/* Active Link */
.active-link{
  color: var(--first-color);
}
/* Scroll Up */
.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: var(--container-color);
  box-shadow: 0 4px 12px hsla(0, 0%, 20%, .1);
  display: inline-block;
  padding: .35rem;
  border-radius: .25rem;
  z-index: var(--z-tooltip);
  opacity: .8;
  transition: .4s;
} 
.scrollup:hover{
  opacity: 1;
}
.scrollup-icon{
  font-size: 1.25rem;
  color: var(--first-color);
}
.show-scroll{
  bottom: 3rem;
}

/* BREAKPOINT RESPONSIVE */
@media screen and (max-width:320px){
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .giving-container {
    gap: 1rem;
  }

  .gift-container {
    grid-template-columns: 150px;
    justify-content: center;
  }
}

@media screen and (min-width:576px){

  .home-description {
    padding: 0 8rem;
  }

  .giving-container {
    grid-template-columns: repeat(2, 142px);
    justify-content: center;
    gap: 2.5rem 3.5rem;
  }

  .celebrate-description {
    padding: 0 4rem;
  }

  .gift-container {
    grid-template-columns: repeat(2, 180px);
    justify-content: center;
    gap: 2rem;
  }

  .message-input,
  .message-button {
    width: 60%;
  }

  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 6.5rem 0 2rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 3rem;
  }
  .nav-toggle, 
  .nav-close, 
  .nav-img {
    display: none;
  }
  .nav-menu {
    margin-left: auto;
  }
  .nav-list {
    flex-direction: row;
    column-gap: 3rem;
  }
  .dark-theme .nav-menu {
    box-shadow: none;
  }

  .home-container,
  .celebrate-container,
  .message-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .home-container {
    padding-top: 8rem;
  }
  .home-data {
    text-align: initial;
  }
  .home-description {
    padding: 0;
  }

  .giving-container {
    grid-template-columns: repeat(3, 142px);
    column-gap: 5rem;
  }

  .celebrate-data, 
  .celebrate-title {
    text-align: initial;
  }
  .celebrate-description {
    padding: 0;
  }

  .gift-container {
    grid-template-columns: repeat(3, 200px);
    gap: 2.5rem;
  }

  .footer-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .home-container {
    column-gap: 1rem;
  }
  .home-img {
    width: 500px;
  }
  .home-description {
    padding-right: 8rem;
  }

  .giving-container {
    column-gap: 8rem;
    padding-top: 2rem;
  }
  .giving-img {
    width: 120px;
  }

  .celebrate-img {
    width: 450px;
  }
  .celebrate-description {
    padding-right: 7rem;
  }

  .gift-container {
    padding-top: 2rem;
  }
  .gift-card {
    padding: 2rem 1.5rem 1.5rem;
  }
  .gift-img {
    width: 120px;
    margin-bottom: var(--mb-1);
  }
  .gift-title {
    font-size: var(--small-font-size);
  }

  .new-container {
    padding-top: 2rem;
  }
  .new-card {
    margin-bottom: 5rem;
  }
  .new-price {
    font-size: var(--h3-font-size);
  }

  .message-container {
    padding: 3.5rem 0;
    grid-template-columns: repeat(2, max-content);
    column-gap: 4rem;
    justify-content: center;
  }

  .message-form {
    text-align: initial;
  }
  .message-title {
    font-size: var(--h1-font-size);
  }
  .message-input {
    display: block;
    width: 280px;
  }
  .message-button {
    width: initial;
  }
  .message-img {
    width: 320px;
  }

  .footer-container {
    grid-template-columns: repeat(4, max-content);
    justify-content: space-between;
  }
  .footer-copy {
    margin-top: 7rem;
  }
  .footer-img-1, 
  .footer-img-2 {
    width: 120px;
  }
  .footer-img-1 {
    top: 100%;
    left: 0;
  }
  .footer-img-2 {
    top: 40%;
    right: -7rem;
  }
  
  .scrollup {
    right: 3rem;
  }
}